:root{
    --header-height:50px;
}
html,body{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
}
header{
    position: sticky;
    top:0;
    z-index: 50;
}

header>nav{
    height:var(--header-height);
    background-color: #546e7a;
    display:flex;
    color:white;
}

header>nav>h1{
    text-align:center;
    width:calc(100% - (50px * 2));
    margin-top:10px;
    
}
header>nav>h1>a{
    text-decoration: none;
    color:white;
}
.btnMenu{
    height:var(--header-height);
    width:var(--header-height);
    background-color:#29434e;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}
.btnMenu i{
    margin-top:7px;
}
#btnUser{
    position: absolute;
    right:0;
}
header menu{
	z-index:-1;
    margin-top: 0;
    margin-bottom:0;
	top:0;
    background-color: #819ca9;
	height: 100vh;
    padding: 0;
    position: absolute;
    display:none;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    
    text-align: left;
    
}

#userMenu{
    right:0;
    
}
#userInfo{
    margin-top:60px;
}
#userInfo i{
   
    margin:5px;
}
#userInfo p{
    
    margin: 5px 0px;
}

menu ul{
	
    list-style-type: none;
    padding: 0 20px;
    padding-top:10px;
    word-break:none;
}
#mainMenu ul{
	padding-top:60px;
}
#userMenu ul{
    margin-top:0;
}
.btnWrapper{
    text-align:center;
}
menu a{
    font-size:27px;
    color:black;
    text-decoration: none;
}
.popup{
    display:none;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    z-index:2000;
    position: fixed;
    top:0;
    text-align: center;
}
.popupDialog{
    margin: 20vh auto;
    background-color:white;
    width:200px;
    border-radius:15px;
    padding:25px;
}
.popupDialog h3{
    padding-top:0px;
}
.popupDialog input{
    width:100%;
}
.popupDialog button{
    width:100%;
    padding:7px 10px;
}
main{
    margin: 0 10px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    min-height: 90vh;
    padding:1% 2%;
}
button{
    padding: 5px 10px;  
    border-radius: 15px;
    background-color: #29434e;
    color:#ffffff;
    font-size:20px;
    border:none;
}
.btnMain{
    padding:10px!important;
    width:95%;
    border-radius:15px;
   
   
    

}
body{
    display:none;
}

button:active{
    background-color:#223942;
}
label,input,textarea{
    font-size: 20px;
}

input[type="text"],input[type="timedate-local"],textarea{
    
}
input[type="checkbox"]{
    float:right;
    transform:scale(1.5);
}
.msg{
    margin-top:10vh;
    text-align: center;
    float:none!important;
}
p, summary{
   font-size:18px;
}
hr{
    
}