#weatherInfo{
    list-style-type: circle;
}
#weatherWarnings{
    list-style-type: circle;
    color:red!important;
}
#IPwarning{
    color:red;
}
#map{
    height:300px;
    width:80%;
    margin:0 auto;
    margin-top:10px;
}
