.checklists{
    display:flex;
    justify-content: space-between;
}
.checklists a{
    margin-top: 21.280px;
}
main h2{
    float:left;
}
main form{
    margin-top:20px;
    float:right;
}
main br{
    clear:both;
}